<div class="mt-3 mw-100 text-right text-primary">
  <%= link_to '＋新規作成', new_task_path %>
</div>
<%= link_to '/tasks/search/limited_at' do %>
  <button class="btn btn-link">期日が近い順</button>
<% end %>
<%= link_to '/tasks/search/created_at DESC' do %>
  <button class="btn btn-link">新しい順</button>
<% end %>
<div class="mt-5 list-group list-group-flush">
  <div class="list-group-item">
    <div class="row">
      <div class="col">
        ステータス
      </div>
      <div class="col">
        タスク名
      </div>
      <div class="col">
        タスクの詳細
      </div>
      <div class="col">
        終了期日
      </div>
      <div class="col">
        作成日
      </div>
    </div>
    <% @tasks.each do |t| %>
      <%= link_to task_path(t.id), class: 'list-group-item list-group-item-action' do %>
        <div class="row task-row">
          <div class="col text-truncate task-status">
            <%= t.status.name %>
          </div>
          <div class="col text-truncate task-name">
            <%= t.name %>
          </div>
          <div class="col text-truncate task-detail">
            <%= t.detail %>
          </div>
          <div class="col text-truncate task-limit">
            <%= t.limited_at.present? ? l(t.limited_at, format: :short) : 'なし' %>
          </div>
          <div class="col text-truncate task-created_at">
            <%= l t.created_at, format: :short %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
