<% if @task.errors.any? %>
<div class="alert alert-danger">
  <ul>
  <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end -%>
  </ul>
</div>
<% end -%>

<%= f.text_field :name, placeholder: 'タスク名を入力してください', class: 'form-control' %>
<br>
<%= f.text_area :detail, placeholder: 'タスクの詳細', size: '60x12', class: 'form-control' %>
<br>
<div class="row">
  <div class="mr-auto">
    <label class="control-label" for="">終了期限</label>
    <%= f.datetime_field :limited_at, class: 'form-control　form-inline' %>
  </div>

  <% if local_assigns[:is_edit].present? %>
    <div><%= f.submit '更新', class: 'btn btn-warning' %></div>
  <% else %>
    <div><%= f.submit '作成', class: 'btn btn-primary' %></div>
  <% end %>
</div>
